{% extends 'base.html.twig' %}
{% block body %}
{% for user in users %}
    <a href="/user-details/{{ user.id }}">{{ user.points }},{{ user.name }},{{ user.points }}</a><br />
{% endfor %}
{% endblock %}