RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteCond %{REQUEST_URI} !(/$|\.)
#RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]
RewriteRule ^servers/$ ./index.php?action=servers [QSA,NC,L]
RewriteRule ^list-users/(.*)/$ ./index.php?action=list-users&server=$1 [QSA,NC,L]
RewriteRule ^user-details/(.*)/(.*)/$ ./index.php?action=user-details&server=$1&id=$2 [QSA,NC,L]